# build products & intermediates
mreader
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json

# vim stuff
._*
.*.swp
.*.swo

# melee files
*.dat

# nix-shell stuff
default.nix

