[submodule "binscripter"]
	path = binscripter
	url = git@github.com:Adjective-Object/binary-script-packer.git
[submodule "libsweetexpressions"]
	path = libsweetparse
	url = git@github.com:Adjective-Object/libsweetparse.git
[submodule "eigen"]
	path = eigen
	url = https://github.com/RLovelett/eigen.git
[submodule "assimp"]
	path = assimp
	url = git@github.com:assimp/assimp.git
