# build products & intermediates
mreader
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json
*-prefix
bvh
*.bvh
*.less
website

# vim stuff
._*
.*.swp
.*.swo

# melee files
*.dat
datfiles/*
Melee.zip
melee

# nix-shell stuff
default.nix

